node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Database
*.db
*.db-journal
*.db-wal
*.db-shm

# IDE
# Fully assume i am using zed.
# .zed
.cursor
.vscode
.idea
.claude
